:root {
  --light-orange: rgb(233, 165, 109);
  --dark-orange: rgb(247, 133, 40);
  --light-green: rgb(204, 245, 194);
  --dark-green: rgb(48, 109, 40);
  --light-blue: rgb(166, 167, 255);
  --light-yellow: rgb(248, 244, 186);
  --light-pink: rgb(255, 203, 251);
}
/* EVENT COLORS */
.light-orange-event {
  background-color: var(--light-orange);
}

.dark-orange-event {
  background-color: var(--dark-orange);
}

.light-green-event {
  background-color: var(--light-green);
}

.dark-green-event {
  background-color: var(--dark-green);
}

.light-blue-event {
  background-color: var(--light-blue);
}
.light-yellow-event {
  background-color: var(--light-yellow);
}
.light-pink-event {
  background-color: var(--light-pink);
}

.day-wrapper {
  display: flex;
  flex-direction: column;
}
.day-wrapper__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.day-wrapper__grid {
  display: grid;
  height: 45rem;
  grid-template-columns: 1fr repeat(5, 2fr);
  grid-template-rows: repeat(145, 1fr);
}

.automargin {
  margin: auto;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.event-title {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 1rem;
  line-height: 0;
}

.event-background {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
