.header__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
}

.separator__header{
    border-top: 1px solid;
    height: 2px;
    margin: 20px auto 0 auto;
}

.reset-button{
    border-radius: 0rem 2rem 2rem 2rem;
    background-color: black;
    opacity: 0.7;
}

.new-event-button{
    background-color: black;
    opacity: 0.7;
    border-radius: 2rem 0rem 2rem 2rem;
}

.buttons-header{
      
        color: white;
        padding: 1.2rem;
        font-size: 1.1rem;
        cursor: pointer;
}