.form__container{
  background-color: greenyellow;
  width: 70%;
  height: 70%;
}

.modal__showEvent {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 14px 30px;
  justify-content: space-around;
  font-size: 20px;
  margin: auto;
}

.border {
  border: 1px solid black;
  background-color: bisque;
}

.buttons__down {
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
}

.button__up {
  justify-content: space-around;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.editbtn {
  background-color: #f44336;
  color: white;
  padding: 14px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
  padding: 14px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}